<h1>Welcome to the Car Simulator</h1>
<p>Find me in app/views/car/new_car.html.erb</p>


<form action= '/car/new_car' id = 'make_year' method = 'get'>
<input type = 'text' name = 'make'/>
<input type = 'text' name = 'year'/>
<input type = 'submit' value = 'Simulate Car'/>
</form>
